extends ../layout/admin
block contenido
    div(class="py-10")
    h1(class="text-4xl my-10 font-extrabold text-center") Bienes
        span(class="font-normal") Raices
    h2(class="text-center text-2xl font-extrabold")=pagina
    a(href="/propiedades/crear" class="text-center rounded py-2  px-10 bg-indigo-600 hover:bg-indigo-700 text-sm uppercase font-bold text-white my-5 inline-block w-full sm:w-auto") Publicar Propiedad

    //- pre= JSON.stringify(propiedades, undefined, 2)
    if propiedades.length
        div(class="bg-white shadow rounded-lg")
            ul(class="divide-y divide-gray-200")
                each propiedad in propiedades
                    li
                        div(class="p-6 w-full flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-8 gap-4")
                            div(class="sm:w-1/4 md:w-1/6") 
                                img(src=`uploads/${propiedad.imagen}` alt=`/upload/${propiedad.imagen}` class="w-full block")
                            div(class="sm:w-2/4 md:w-3/6 lg:w-4/6")  
                            div(class="sm:w-1/4 md:w-2/6 lg:w-1/6") 

    else
        p(class="text-center") No existen propiedades