extends ../layout/admin
block styles
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.css")
block contenido
    div(class="py-10")
    h1(class="text-4xl my-10 font-extrabold text-center") Bienes
        span(class="font-normal") Raices
    h2(class="text-center text-2xl font-extrabold")=pagina
    
    div(class="bg-white shadow py-8 px-4 rounded-sm mx-auto max-w-4xl my-10 md:px-10")
        form(class="dropzone border-dashed border-2 w-full min:h-96 h-auto rounded flex-col justify-center items-center" method="POST" action="/propiedades/crear")
            input(type="hidden" name="_csrf" value=csrfToken)

        input(type="submit" class="w-full py-3 mt-5 bg-indigo-600 hover:bg-indigo-700 rounded text-white font-bold uppercase cursor-pointer" value="Publicar propiedad")
block script
    script(src="/js/agregarImagen.js")