extends ./layout/app
block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")
block contenido
    


block script 
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")