header(class="bg-indigo-600 py-4")
    div(class="container mx-auto flex justify-between  items-center")
        a(href="/") 
            h2(class="text-2xl text-white font-extrabold text-center") Bienes
                span(class="font-normal") Raices
        if !auth
            nav(class="my-5 text-sm md:flex md:items-center md:gap-8 font-bold text-white hidden")
                a(href="/mis-propiedades") Mis Propiedades
                a(href="") Mi Perfil
                form(action="/auth/cerrar-sesion" method="POST")
                    input(type="submit" class="bg-indigo-800 py-2 px-10 rounded-lg" value="Cerrar Sesión")
                    input(type="hidden" name="_csrf" value=csrfToken)